/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
    margin: 0;
    padding: 0;
    font: bold 12px Verdana;
    list-style-type: none;
    border-bottom: 1px solid #3395cd;
    background: #3395cd;/*414141*/
    overflow: hidden;
    width: 100%;
    z-index:1000000;
}

.mattblackmenu li{
    display: inline;
    margin: 0;
    z-index:1000000;
}

.mattblackmenu li a{
    float: left;
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 6px 8px; /*padding inside each tab*/
    border-right: 1px solid white; /*right divider between tabs*/
    color: white;
    background: #FFFFFF;/*414141*/
    z-index:1000000;
}

.mattblackmenu li a:visited{
    color: white;
    z-index:1000000;
}

.mattblackmenu li a:hover{
    background: #0075b8; /*black background of tabs for hover state */
    z-index:1000000;
}

.mattblackmenu a.selected{
    background: #0075b8; /*black background of tab with "selected" class assigned to its LI */
    z-index:1000000;
}